<!DOCTYPE html>
<html>
<head>
	<title>Score game</title>
</head>
<body>

<h1>Name : {{ game.display_name}} </h1>
<h2>year: {{game.year}}</h2>
<img src={{game.image}}>


{%if have_game %}

<form action="/change/game/{{game._id}}" >
<button>Change game</button>
</form>

	{% if favorite  %}
	<form action="/game/{{game._id}}" method="POST">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	    <input type="hidden" name="remove_from_favorites" value="{{ game._id }}"/>
		<button> remove from favorites </button>
	</form>
	{% else %}
	<form action="/game/{{game._id}}" method="POST">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	    <input type="hidden" name="add_to_favorites" value="{{ game._id }}"/>
		<button> Add to favorites </button>
	</form>
	{% endif %}

{%else%}

<br>
<form action="/change/game/{{game._id}}" >
<button >Add game</button>
</form>
{%endif%}

</body>
</html>