<!DOCTYPE html>
<html>
<head>
    <title>Score game</title>
</head>
<body>


<style>
    ul {
        list-style-type: none;
    }

    .popup {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        margin-top: 5px;
    }
    
</style>


<meta name="csrf-token" content="{{ csrf_token() }}">
<meta name="user" content="{{ current_user.user_id }}">
<h1>Name : {{ current_user.user_id}} </h1>
<h1> Criterias: </h1>
{% for criteria in criterias%}
    {% if criteria == need_to_edit %}

        <form id="myForm" action= "/settings" method= "POST">
        <h3>Criteria name: <input id="inputField" name="criteria_name" value="{{criteria}}" /></h3>
        <div id="popup" class="popup">Please fill out the input field.</div>
        <ul data-list-id="{{criteria}}" class="sortable-list">
                {% for value in criterias[criteria]%}
                    <li data-id={{value}}> <h4> <input id="inputField" name="{{value}}__name"value="{{value}}"/ > delete: <input type="checkbox" name="{{value}}__checkbox" value="{{value}}"/></h4> </li>
                {% endfor %}
        </ul>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="working_criteria_name_commit" value="{{ criteria }}"/>
        <button type="button" onclick="validateForm()">Commit</button>
        </form>


        <form  id="myForm2" action= "/settings" method= "POST">
            <h4><input id="inputField2" name="new_value"/> </h4>
            <div id="popup2" class="popup">Please fill out the input field.</div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="add_value" value="{{criteria}}" />
            <button type="button" onclick="validateForm('popup2', 'inputField2', 'myForm2')">Add value</button>
        </form> 
        
        <br>
        <form action= "/settings" method= "POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="delete_criteria" value="{{ criteria }}"/>
            <button>Delete Criteria</button>
        </form>

    {% else %}
        <h3> {{criteria}} </h3>
        <form action= "/settings" method= "POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="working_criteria_name_start_edit" value="{{ criteria }}"/>
            <button>Edit</button>
        </form>
    {%endif%}

{% endfor %}




        <form id="myForm" action= "/settings" method= "POST">
        <h4><input id="inputField" name="new_criteria_name"/> </h4>
        <div id="popup" class="popup">Please fill out the input field.</div>
            
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="add_criteria" value="True" />
                <button type="button" onclick="validateForm()">Add Criteria</button>
        </form>


<dir>
    <h3>Update criterias order : </h3>
<ul data-list-id="criterias" class="sortable-list">
{%for criteria in current_user.get_field("all_criterias") %}
    <li data-id="{{criteria}}" >{{criteria}}</li>
{%endfor%}
</ul>

<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<input type="hidden" name="update_criterias_order" />
<button id=sendButton onClick="window.location.reload();">Update criterias order</button>

</dir>




{% from 'bootstrap5/form.html' import render_form %}
{{render_form(steam_form)}}


<form method= "POST">
<h3>Update basic criterias</h3>

<ul data-list-id="basic_criterias" class="sortable-list">
    {% for bc in user_show_info %}
        
        <li data-id="{{bc}}"><h4> <input type="checkbox" name="__checkbox{{bc}}" value="{{bc}}" checked/>{{bc}}</h4></li>
    {%endfor%}
    {%for bc in rest_criterias%}   
        <li data-id="{{bc}}"><h4> <input type="checkbox" name="__checkbox{{bc}}" value="{{bc}}"/>{{bc}}</h4></li>
    {%endfor%}
</ul>

<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<input type="hidden" name="update_basic_criterias" value="True" />
<button id=sendButton>Update basic criterias</button>


</form>

<br>
<form action="/profile/{{current_user.user_id}}/" >
<button >Back to account</button>
</form>

</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script>

    const csrfToken = document.querySelector('meta[name="csrf-token"]').content;
    const user = document.querySelector('meta[name="user"]').content;
    
    document.querySelectorAll('.sortable-list').forEach(function (sortableList) {
        new Sortable(sortableList, {
            animation: 150,
            onEnd: function(evt) {
                console.log('New order:', evt.oldIndex, 'to', evt.newIndex);
            }
        });
    });

    document.getElementById('sendButton').addEventListener('click', function() {
        // const listId = sortableList.dataset.listId;
        const itemOrder = Array.from(document.querySelector('.sortable-list').children).map((li, index) => {
            return {
                id: li.dataset.id,
                order: index,
                listId: "criterias",
                user: user 
            };
        });

        // console.log(itemOrder);

        // Fetch API to send itemOrder to the server
        
        fetch("/setting-update-criterias", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken, 
            },
            body: JSON.stringify({ itemOrder }),
        })
    })




    function validateForm(popupId="popup", inputFieldId="inputField", myForm="myForm") {
        var inputField = document.getElementById(inputFieldId).value;
        var popup = document.getElementById(popupId);

        if (inputField.trim() === "") {
            popup.style.display = "block";

            document.getElementById(inputFieldId).focus();
            setTimeout(function () {
                popup.style.display = "none";
            }, 2000);
        } else {
            popup.style.display = "none";
            document.getElementById(myForm).submit();
        }
    }


</script>








            